# macOS
.DS_Store

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# Visual Studio / .NET
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.ide

# Rider
.idea/

# Environment files
.env
src/environments/*.local.ts

# logs
*.log

# Local settings
.vscode/

# git-lfs placeholder
*.mp4
